.collapsible {
    cursor: pointer;
}
.active, .collapsible:hover {
    background-color: rgba(255, 255, 255, 0.075);
  }
.content-collapse {
    padding: 1em;
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.5s ease-in-out;
    /* background-color: #f1f1f1; */
}

p.describe{
    text-indent: 10%;
    text-align: justify;
}